body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0%;
  padding: 0%;
}

.divider:after, 
.divider:before {
content: "";
flex: 1;
height: 1px;
background: rgb(208, 4, 4);
}

.h2{
  margin-bottom: 20%;
  font-family:Georgia, 'Times New Roman', Times, serif ;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 3.5%;
}
.img-fluid{
  margin-bottom: 50%;
}
.password-container {
  position: relative;
}

.password-input {
  width: 160%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border-radius: 5px;
}

.toggle-password {
  position: absolute;
  left: 160%;
  top: 30%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 25px;

}
.toggle-password :hover{
  color: rgb(175, 134, 104);
}
.login{
  margin-left: 60%;
  margin-bottom: 35%;
  font-size: 25px ;
  font-family:cursive ;
}
.navbar {
  background-color: rgb(79, 50, 50);
  overflow: hidden;
  display: flex; 
  justify-content: space-between; 
  height: 73px;
  width: 100%;
  margin-bottom: 7%;
}
.li2{
  font-family: initial;
}
.navbar ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  display: flex; 
  align-items: flex-end;
  
}

.navbar li {
  justify-content: right;
  display: flex;
  align-items: flex-end;
  justify-items: flex;

}

header {
  color: #fff;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  margin-bottom: 41%;
}
.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 15px;
  text-decoration: none;
}

.navbar b:hover {
  background-color: rgba(29, 25, 25, 0.479) ;
  color: rgb(220, 125, 125);
}
.navbar a:hover{
  color: rgb(194, 134, 37);
}

.navbar .img {
  margin-right: 35px;
}

form {
  margin-top: 70px;
  padding: 20px;
  margin-left: 20%;
  margin-bottom: 20%;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 160%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border-radius: 5px;
}
.up{
  width: 270px;
}


button {
  background-color: #030703;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 70%;
}

button:hover {
  background-color: bisque;
}
.footer{
  background-color: rgb(98, 69, 69);
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: stretch;
  color: bisque;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-family:cursive ;
  height: 100px;
}
.f{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
 
  align-items: baseline;
  align-content: stretch;
  color:bisque;
  background-color: rgb(98, 69, 69);
}
.ff{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: stretch;
}
.fm{
  background-color: rgb(98, 69, 69);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.fl{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  max-width: 300px;
  margin-left: 100px;
}
.fc{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  
}
.fr{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
}
.fi{
  background-color: rgb(98, 69, 69);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: relative;
  bottom: 0;
  
}