body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  background-color: rgb(79, 50, 50);
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin-left: -35%;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li:first-child {
  margin-left: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #ffd700;
}


.logo img{
  width: 10%;
}

.logo h2{
  margin-top: -8%;
  margin-left: 15%;
}

.logged-in-user {
  margin-right: 20px;
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #333;
  padding: 10px;
}

.logged-in-user.active .dropdown-menu {
  display: block;
}

.logged-in-user .dropdown-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

.logged-in-user .dropdown-menu a:hover {
  background-color: #555;
}


#searchBackground{
  width: 100%;
  height: 500px;
}

.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8); /* Adjust background color and opacity */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add box shadow for better visibility */
}

.search-box input[type="text"] {
  width: 200px; /* Adjust width as needed */
  padding: 8px;
  border: none;
  border-radius: 3px;
  margin-right: 5px;
}

.search-box button {
  padding: 8px 15px;
  border: none;
  border-radius: 3px;
  background-color: #007bff; /* Adjust button background color */
  color: #fff;
  cursor: pointer;
}

.container{
  background-color: #FFE4C4;
}

.container h1{
  text-align: center;
}

#wingMen{
  width: 20%;
  height: 500px;
}

#bear{
  width: 20%;
  height: 500px;
}

#wizard{
  width: 20%;
  height: 500px;
}

#Trust{
  width: 20%;
  height: 500px;
}

.book-images img{
  margin-left: 3.5%;
}





footer{
  background-color: #624545;
  width: 100%;
  margin-top: -1.1%;
  height: 100px;
}

footer p{
  color: #fff;
  text-align: center;
  padding: 40px 0 0;
  margin-bottom: 0%;
}

.socialMedia{
  margin-left: 90%;
  color: #fff;
  font-size: 22px;
}

#dashboard {
  color: #fff; /* Default color */
  transition: color 0.3s ease; /* Smooth transition for color change */
  text-decoration: none;
}

#dashboard:hover {
  color: #ffd700; /* Color change on hover */
}

span{
  cursor: pointer;
}